@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Old+Uyghur&family=Roboto+Mono&display=swap');

*{
    padding: 0;
    margin: 0;
}

.container{
    background:url(../../assets/bg-img.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#login-txt{
    padding-bottom: 35px;
    font-family: 'Noto Serif Old Uyghur', serif;
}

.login-container{
    width: 512px;
    height: 542px;
    border-radius: 35px;
    background-color: #f1f2f1;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 0px 5px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 0px 5px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 0px 5px 4px rgba(0, 0, 0, 0.1);
}

#login-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 30px;
}

.input-bg{
    width: 397px;
    height: 58px;
    border-radius: 40px;
    border: 1.5px solid #000000;
    background: url(../../assets/input-bg.png);
    text-indent: 20px;
}
input[type="text"] {
    font-size: 24px;
}
input[type="password"] {
    font-size: 24px;
}

input::placeholder{
    font-size: 24px;
    text-align: start;
    font-family: 'Noto Serif Old Uyghur', serif;
}

.btn-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    row-gap: 5px;
}

#login-btn{
    width: 397px;
    height: 54px;
    border-radius: 40px;
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Noto Serif Old Uyghur', serif;
    font-size: 30px;
    cursor: pointer;
    outline: none;
}

#signup-btn{
    cursor: pointer;
    text-decoration: underline;
    display: inline-block;
    border: none;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Noto Serif Old Uyghur', serif;
}