@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Old+Uyghur&family=Roboto+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
}

.container {
    background: url(../../assets/bg-img.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.register-container {
    width: 1044px;
    height: 451px;
    border-radius: 35px;
    background-color: #f1f2f1;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    box-shadow: 1px 0px 5px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 0px 5px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 0px 5px 4px rgba(0, 0, 0, 0.1);
}

#create-account-txt {
    font-family: 'Noto Serif Old Uyghur', serif;
    padding-bottom: 35px;
}
