*{
    padding: 0;
    margin: 0;
}

.navbar{
    height: 80px;   
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-left: 70px;
    border-bottom: 2px solid #000000;
}

.search-bar{
    background-color: #e7e7e7;
    width: 444px;
    height: 43px;
    border: none;
    outline: none;
    border-radius: 4px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
}

#search-design{
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    width: 444px;
}

.btn-links{
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
    column-gap: 70px;
    text-decoration: none;
    color: black;
    width: 1000px;
}


.link-btns:nth-child:active{
    color: #000000;
    font-size: 18px;
    text-decoration: none;

}
.link-btns:nth-child(2) {
    color: #000000;
    font-size: 18px;
    text-decoration: none;
}
.link-btns:nth-child(3) {
    color: #000000;
    font-size: 18px;
    text-decoration: none;
}
.link-btns:nth-child(4) {
    color: #000000;
    font-size: 18px;
    text-decoration: none;
}
.link-btns:nth-child(5) {
    color: #000000;
    font-size: 18px;
    text-decoration: none;
}

.profile-logo{
    display: flex;
    justify-content: end;
    width: 350px;
}

.home{
    height: 100vh;
    margin-left: 60px;
    margin-right: 30px;
    margin-top: 30px;
    display: flex;
}

.left-container{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    width: 1200px;
}
.right-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 500px;
    margin-left: 60px;
}

#user{
    font-size: 48px;
}

.post-container{
    max-width: 741px;
    height: 63px;
    border: 1px solid #000000;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    cursor: pointer;
}

#post-design {
    width: 741px;
    height: 63px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding-left: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}

#title-input{
    width: 448px;
    height: 20px;
    margin-bottom: 5px;
    padding-left: 5px;
        outline: none;
}

#description-input{
    width: 450px;
    height: 200px;
    resize: none;
    padding-left: 5px;
    padding-top: 5px;
    outline: none;
}

#post-btn{
    width: 400px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #000000;
    cursor: pointer;
    outline: none;
    background-color: #f0f0f0;
}

#follow-btn{
    width: 100px;
    height: 30px;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
}

#job-post{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.post-labels{
    padding-left: 10px;
    font-size: 20px;
}


#input-title{
    outline: none;
    border-radius: 12px;
    width: 550px;
    height: 30px;
    padding-left: 10px;
    border: 2px solid #bdbdbd;
}

#exam-input{
    outline: none;
    border-radius: 12px;
    width: 450px;
    height: 30px;
    padding-left: 10px;
    margin-top: 10px;
    border: 2px solid #bdbdbd;
}

.exam-labels{
    padding-left: 10px;
    font-weight: bold;
    padding-right: 10px;
}

#job-description{
    border: 2px solid #bdbdbd;
    width: 550px;
    border-radius: 12px;
    padding-left: 10px;
    padding-top: 10px;
    height: 100px;
    resize: none;
}

#jobpost-btn{
    width: 160px;
    height: 42px;
    border-radius: 20px;
    background-color: #000000;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
    margin-right: 50px;
}